/* ------background animacion general------ */
html {
  height: 100%; }

body {
  margin: 0; }

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, hwb(0 87% 13%) 50%, #bdbdbd 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1; }

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s; }

.bg3 {
  animation-duration: 5s; }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }

/* -----animacion logo--------- */
.logo {
  -webkit-animation: logo 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  animation: logo 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ------------animaciones index items---------- */
.sobreNosotros {
  -webkit-animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sobreNosotrosTxt {
  -webkit-animation: logo 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s both;
  animation: logo 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.aside2 {
  -webkit-animation: logo 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both;
  animation: logo 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  -webkit-animation: logo 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4s both;
  animation: logo 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.textofooter {
  -webkit-animation: logo 1.7s cubic-bezier(0.39, 0.575, 0.565, 1) 1.7s both;
  animation: logo 1.7s cubic-bezier(0.39, 0.575, 0.565, 1) 1.7s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*  ------------animcaion aerografia------------ */
.infoAero {
  -webkit-animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ----------animaciones serigrafia---------- */
.fila2Texto {
  -webkit-animation: logo 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: logo 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.maniguetaSeri {
  -webkit-animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fila3Texto {
  -webkit-animation: logo 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;
  animation: logo 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.pantoGuia {
  -webkit-animation: logo 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
  animation: logo 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#carouselExampleInterval {
  -webkit-animation: logo 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s both;
  animation: logo 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*  ----------animacion grafica----------- */
.ovalo1 {
  -webkit-animation: slide-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

.ovalo2 {
  -webkit-animation: slide-right 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

.ovalo3 {
  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

.graficaGaleriaTxt {
  -webkit-animation: logo 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
  animation: logo 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.graficaColoresTxt {
  -webkit-animation: logo 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s both;
  animation: logo 1.1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.muestrarioVinilo {
  -webkit-animation: logo 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s both;
  animation: logo 1.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*   ----------animacion contacto---------- */
.ubicacionMapa {
  -webkit-animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;
  animation: logo 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.contactoFormText {
  -webkit-animation: logo 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;
  animation: logo 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.formContenedor {
  -webkit-animation: logo 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both;
  animation: logo 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s both; }

@-webkit-keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ---------------header general------------*/
/* .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    z-index: 1;
    grid-template-areas: 
    "logo navMenu";
} */
/* ------contenedores grid------- */
.contenedorMainIndex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  grid-template-areas: "header" "imgInicio" "sectionAside" "footer" "textofooter"; }

/* .contenedorMainAero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr;
    grid-template-areas: 
    "header"
    "cajaEins"
    "infoAero"
    "aeroGaleriaContenedorA"
    "aeroProgresoContenedorTxt"
    "footer"
    "textofooter";
} */
/* .contenedorMainSeri{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    grid-template-areas: 
    "header"
    "fila1"
    "fila2"
    "rowImagenes"
    "footer"
    "textofooter";
} */
.contenedorMainGraf {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr;
  grid-template-areas: "header" "encabezadoGraf" "graficaMuestraContenedor" "graficaGaleriaTxt" "graficaColoresTxt" "muestrarioVinilo" "footer" "textofooter"; }

.contenedorMainContact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr;
  grid-template-areas: "header" "encabezadoContacto" "ubicacionMapa" "contactoFormText" "formContenedor" "contactoForm3" "botonEnvio" "footer" "textofooter"; }

/* FIN CONTENEDORES GRID */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.nav-item a {
  color: #7c7c7c; }
  .nav-item a:hover {
    color: #363636; }

.imgInicio {
  margin-top: -20px; }

.sectionAside {
  text-align: center;
  grid-area: sectionAside;
  margin-top: 20px; }
  .sectionAside .aside1 {
    width: 80%;
    margin: 0 auto; }
    .sectionAside .aside1 p {
      width: 80%;
      height: auto;
      color: #514f4f;
      margin: 0 auto;
      padding: 5px;
      font-size: 16px;
      font-weight: 200;
      font-family: "Roboto Condensed", sans-serif; }
  .sectionAside .aside2 p {
    width: 80%;
    height: auto;
    color: #514f4f;
    background-color: #e2cfcf;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif; }

.footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  grid-area: footer; }
  .footer .footericonos {
    width: auto;
    height: auto;
    border: 1px solid rgba(30, 102, 136, 0.355);
    padding: 5px;
    border-radius: 10px; }
    .footer .footericonos img {
      width: 35px;
      height: auto;
      margin: 4px 10px 0px 10px; }

.textofooter {
  background-color: #d7d7d7;
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #616161;
  grid-area: textofooter; }

.btnFace:hover {
  opacity: 70%; }

.btnInsta:hover {
  opacity: 70%; }

.btnLink:hover {
  opacity: 70%; }

.btnTweet:hover {
  opacity: 70%; }

.aeroGaleriaContenedorA {
  margin-top: 20px;
  grid-area: aeroGaleriaContenedorA; }
  .aeroGaleriaContenedorA .aeroGaleriaTxt {
    margin-top: 20px; }

.infoAero {
  grid-area: infoAero;
  display: flex;
  justify-content: center; }
  .infoAero .infoAero-int {
    width: 80%;
    height: auto;
    margin-top: 5px;
    text-align: center;
    align-content: center;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.5rem;
    color: #514f4f;
    font-size: 15px; }

.infoAeroB {
  display: flex;
  justify-content: center; }
  .infoAeroB .infoAeroB-int {
    width: 80%;
    height: auto;
    color: #514f4f;
    background-color: #e2cfcf;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif; }

.aeroGaleriaContenedor {
  text-align: center;
  background-color: #b6b6b6; }

.aeroProgresoContenedorTxt {
  margin-top: 20px;
  grid-area: aeroProgresoContenedorTxt; }
  .aeroProgresoContenedorTxt .aeroProgesoTxt {
    margin-top: 20px; }

.aeroProgresoContenedor {
  text-align: center;
  background-color: #b6b6b6; }

.encabezadoSer, .aeroGaleriaContenedorA .aeroGaleriaTxt, .aeroProgresoContenedorTxt .aeroProgesoTxt, .infoSerigrafia .cajaSer1, .infoSerigrafia .cajaSer2, .infoSerigrafia .cajaSer3, .infoSerigrafia .cajaSer4, .encabezadoSer2, .sectionAside .aside1 .encabezado, .encabezadoSer3, .graficaColoresTxt, .encabezadoGraf, .encabezadoContacto, .contactoFormText {
  background-color: gainsboro;
  border-bottom: 1px solid gray;
  font-size: 20px;
  color: #514f4f;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center; }

.infoSerigrafia {
  padding: 1.5rem;
  align-content: space-between;
  margin-top: -20px; }
  .infoSerigrafia .cajaSer1 {
    background-color: #748ca1;
    opacity: 0.7;
    border-radius: 10px;
    padding: 1rem;
    margin: 0; }
    .infoSerigrafia .cajaSer1 h5 {
      color: white; }
    .infoSerigrafia .cajaSer1 p {
      color: white;
      font-size: 15px; }
  .infoSerigrafia .cajaSer2 {
    background-color: #8abfdd;
    opacity: 0.7;
    border-radius: 10px;
    padding: 1rem;
    margin: 0; }
    .infoSerigrafia .cajaSer2 h5 {
      color: white; }
    .infoSerigrafia .cajaSer2 p {
      color: white;
      font-size: 15px; }
  .infoSerigrafia .cajaSer3 {
    background-color: #b4b1d3;
    opacity: 0.7;
    border-radius: 10px;
    padding: 1rem;
    margin: 0; }
    .infoSerigrafia .cajaSer3 h5 {
      color: white; }
    .infoSerigrafia .cajaSer3 p {
      color: white;
      font-size: 15px; }
  .infoSerigrafia .cajaSer4 {
    background-color: #b08a7c;
    opacity: 0.7;
    border-radius: 10px;
    padding: 1rem;
    margin: 0; }
    .infoSerigrafia .cajaSer4 h5 {
      color: white; }
    .infoSerigrafia .cajaSer4 p {
      color: white;
      font-size: 15px; }

.fila2Texto {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5rem;
  color: #514f4f;
  font-size: 15px;
  grid-area: fila2Texto; }

.encabezadoSer2, .sectionAside .aside1 .encabezado {
  margin-top: 20px; }

.fila3Texto {
  margin-top: 0.5rem;
  font-family: "Roboto Condensed", sans-serif; }
  .fila3Texto ul {
    margin: 10px;
    padding: 0px; }
    .fila3Texto ul li {
      font-size: 15px;
      list-style-type: none; }

.encabezadoSer3 {
  margin-top: 20px; }

.graficaMuestraContenedor {
  text-align: center;
  margin-top: 10px;
  grid-area: graficaMuestraContenedor; }

.graficaGaleriaTxt {
  text-align: center;
  width: 80%;
  height: auto;
  color: #514f4f;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  font-weight: 200;
  font-family: "Roboto Condensed", sans-serif; }

.graficaColoresTxt {
  margin-top: 20px; }

.muestrarioVinilo {
  text-align: center;
  background-color: #b6b6b6;
  grid-area: muestrarioVinilo; }
  .muestrarioVinilo img {
    width: 90%; }

.encabezadoGraf {
  grid-area: encabezadoGraf; }

.encabezadoContacto, .contactoFormText {
  grid-area: encabezadoContacto; }

.ubicacionMapa {
  margin-top: 20px;
  background-color: rgba(172, 202, 170, 0.8);
  padding: 0.5rem;
  /* filter: grayscale(100%); */
  grid-area: ubicacionMapa; }

.contactoFormText {
  margin-top: 20px;
  grid-area: contactoFormText; }

.formContenedor {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  grid-area: formContenedor; }

.contactoForm3 {
  margin-top: 0.8rem;
  text-align: center;
  grid-area: contactoForm3; }

.botonEnvio {
  text-align: center;
  grid-area: botonEnvio; }

@media (max-width: 320px) {
  body {
    background-image: linear-gradient(to bottom, #c7c7c7, #b9bbbc, #aaafaf, #9da3a0, #949690); }
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    align-items: center;
    z-index: 1;
    /* logo sobre imagen */
    grid-template-areas: "logo" "navMenu"; }
  .header {
    text-align: center; }
  .navMenu {
    margin: 0 auto; }
  .navContenedor {
    margin-top: -25px;
    flex-direction: column;
    line-height: 0.5rem; }
  .sectionAside {
    width: 100%;
    margin-top: -15px; }
  .imgInicio {
    margin-top: 30px; }
  /* ----------media aerografia------------ */
  .contenedorMainAero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr;
    grid-template-areas: "header" "cajaEins" "infoAero" "aeroGaleriaContenedorA" "aeroProgresoContenedorTxt" "footer" "textofooter"; }
  .navMenu {
    margin-top: 10px; }
  .cajaEins img {
    display: none; }
  .infoAero {
    width: 320px;
    height: auto;
    margin: 0 auto;
    grid-area: infoAero; }
  .aeroGaleriaContenedorA {
    grid-area: aeroGaleriaContenedorA;
    width: 300px; }
  .aeroGaleriaContenedor img {
    width: 300px;
    height: auto; }
  .aeroGaleriaTxt {
    width: 100%;
    align-items: center;
    margin-left: 0px; }
  .aeroProgresoContenedorTxt {
    display: none;
    grid-area: aeroProgresoContenedorTxt; }
  /*     -----------media serigrafia------------*/
  .fila1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin-top: 0px;
    grid-template-areas: "fila1Img" "fila1Texto"; }
  .fila1Texto p {
    width: 100%;
    height: auto;
    text-align: center; }
  .fila1Img img {
    width: 100%;
    height: auto; }
  .fila2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    align-items: center;
    grid-template-areas: "fila2Texto" "fila2Img";
    grid-area: fila2; }
  .fila2Texto {
    text-align: center; }
  .fila2Img img {
    display: none; }
  .rowImagenes {
    text-align: center; }
  /* ------ media grafica ------- */
  .contenedorMainGraf {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    grid-template-areas: "header" "encabezadoGraf" "graficaMuestraContenedor" "graficaGaleriaTxt" "graficaColoresTxt" "muestrarioVinilo" "footer" "textofooter"; }
  .graficaMuestraContenedor img {
    width: 100%; }
  .graficaColoresTxt {
    width: 300px; }
  .muestrarioVinilo img {
    width: 300px; } }
