
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.contenedorFondoAero{
  width: 100%;
  height: auto;
}
.aeroGaleriaContenedorA{
    margin-top: 20px;
    grid-area: aeroGaleriaContenedorA;
    .aeroGaleriaTxt{
      @extend .encabezadoSer;
      margin-top: 20px;}
  }
  .infoAero{
    grid-area: infoAero;
    display: flex;
    justify-content: center;
    .infoAero-int{
    @include parrafos-textos;}
  }
  .infoAeroB{
    display: flex;
    justify-content: center;
    .infoAeroB-int{
    @include parrafos-textosFondo;
    }
  }
  .aeroGaleriaContenedor{
    text-align: center;
    background-color: rgb(182, 182, 182);
  }
  .aeroProgresoContenedorTxt{
    margin-top: 20px;
    grid-area: aeroProgresoContenedorTxt;
    .aeroProgesoTxt{
      @extend .encabezadoSer;
      margin-top: 20px;
    }
  }
  .aeroProgresoContenedor{
    text-align: center;
    background-color: rgb(182, 182, 182);
  }