.encabezadoContacto{
  @extend .encabezadoSer;
  grid-area: encabezadoContacto;
}
.ubicacionMapa{
    margin-top: 20px;
    background-color: rgba(172, 202, 170, 0.8);
    padding: 0.5rem;
    /* filter: grayscale(100%); */
    grid-area: ubicacionMapa;
  }
  .contactoFormText{
    @extend .encabezadoContacto;
    margin-top: 20px;
    grid-area: contactoFormText;
  }
  .formContenedor{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 2rem;
    grid-area: formContenedor;
  }
  .contactoForm3{
    margin-top: 0.8rem;
    text-align: center;
    grid-area: contactoForm3;
  }
  .botonEnvio{
    text-align: center;
    grid-area: botonEnvio
  }