
.graficaMuestraContenedor{
    text-align: center;
    margin-top: 10px;
    grid-area: graficaMuestraContenedor;
  }
  .graficaGaleriaTxt{
    text-align: center;
    @include specialTxt;
  }
  .graficaColoresTxt{
    @extend .encabezadoSer;
    margin-top: 20px;
  }
  .muestrarioVinilo{
    text-align: center;
    background-color: rgb(182, 182, 182);
    grid-area: muestrarioVinilo;
    img{
      width: 90%;
    }
  }
  .encabezadoGraf{
    @extend .encabezadoSer;
    grid-area: encabezadoGraf;
  }