*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav-item{
  a{
    color:rgb(124, 124, 124);
    &:hover{
      color: #363636;
    }
  }
}
.imgInicio{
    margin-top: -20px;
  }
.sectionAside{
  text-align: center;
  grid-area: sectionAside;
  margin-top: 20px;
  .aside1{
    width: 80%;
    margin: 0 auto;
    .encabezado{
      @extend .encabezadoSer2;
    }
    p{
       @include specialTxt;
    }
  }
  .aside2{
    p{
      @include parrafos-textosFondo;
    }
  }
}